@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========= Main CSS variables ======= */
:root {
  --blue: #3D5A80;
  --pale-blue: #E0FBFC;
  --light-red: #EE6C4D;
  --black: #293241;
  --main-font-size: 20px;
  --main-padding: 15px;
  --main-margin: 15px;
  --big-padding: 25px;
  --big-margin: 25px;
  --heading: 'Playfair Display', serif;
  --main: 'Roboto', sans-serif;
}

body {
	font-size: var(--main-font-size);
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  background-color: #efefef;
}

h2 {
  font-family: var(--heading);
  text-align: center;
  margin-top: var(--big-margin);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ========= Flexboxes (center, center) ======= */
.main-page-container,
.select-category,
.products-gallery,
.card-header,
.card-footer,
.modal-content,
.topnav button span,
.topnav button,
.cart-list li,
.not-found {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-align: center;
    -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
}

/* ========= Main page style ======= */
.main-page-container {
  background: var(--pale-blue);
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.main-page-container img {
  width: 100%;
  max-width: 600px;
  padding: var(--main-padding);
}

.store-button {
  width: 200px;
  height: 70px;
  font-size: 20px;
  background: var(--blue);
  box-shadow: 0 4px 4px #4e5374ba;
  border: 0;
  color: white;
  border-radius: 7px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  cursor: pointer;
}

.store-button span {
  padding-left: 15px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.store-button span:after {
  content: '»';
  position: relative;
  opacity: 0;
  right: -20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.store-button:hover span:after,
.store-button:focus span:after {
  opacity: 1;
  right: 0;
}

.store-button:hover span,
.store-button:focus span {
  padding-right: 25px;
}

.store-button:hover,
.store-button:focus {
  outline: 0;
  width: 250px;
  background: var(--light-red);
  box-shadow: 0 4px 4px #bc7c6cb0;
}

@media screen and (min-width: 1000px) {
  .main-page-container {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  .main-page-container img {
    padding: 55px;
  }
  .store-button {
    width: 250px;
  }
}

/* ========= Store main page ======= */
.store-main-page {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}
.store-right,
.store-left {
  width: 100%;
}

.store-center {
  width: 100%;
}

@media screen and (min-width: 850px) {
  .store-right,
  .store-left {
    width: 50%;
  }
}
@media screen and (min-width: 1050px) {
  .store-right {
    width: 70%;
  }
  .store-left {
    width: 30%;
  }
}
/* ========= Top Navigation style ======= */
.topnav {
  padding: 10px 15px;
  background-color: white;
  box-shadow: 0 4px 4px #e2e2e2;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  flex: 20% auto;
  width: 100%;
  z-index: 5;
}

.logo {
  height: 95px;
}

.right-align {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.topnav button,
.select-category button {
  text-align: center;
  margin-left: 5px;
  text-decoration: none;
  color: var(--black);
  border: 0;
  border-radius: 7px;
  font-family: var(--main);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.topnav button {
  font-size: 25px;
  background: var(--blue);
  box-shadow: 0 4px 4px #4e5374ba;
  padding: var(--main-padding);
}

.topnav button:hover,
.topnav button:focus {
  background: var(--light-red);
  box-shadow: 0 4px 4px #bc7c6cb0;
  color: white;
  outline: 0;
}

.topnav button span {
  color: var(--blue);
  font-size: 12px;
  position: absolute;
  top: 35px;
  right: 88px;
  min-width: 18px;
  height: 18px;
  background-color: var(--pale-blue);
  border-radius: 100%;
}

/* ========= Shop category filter ======= */
.select-category {
  margin-top: var(--main-margin);
  width: 100%;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

.select-category button {
  padding: 10px;
  color: var(--black);
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 15px;
  background: white;
  box-shadow: 0 4px 4px #d6d6d6;
  font-weight: 600;
}

.select-category button:hover,
.select-category button:focus,
.select-category button:active {
  box-shadow: 0 5px 5px #4e5374ba;
  outline: 0;
}

/* ========= Products gallery ======= */
.products-gallery {
  padding: 50px 0;
  width: 100%;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

.panelCard {
  width: 200px;
  overflow: hidden;
  margin: var(--main-margin);
  padding-top: 15px;
  -webkit-box-shadow: 0px 6px 16px -6px rgba(92,92,92,1);
  -moz-box-shadow: 0px 6px 16px -6px rgba(92,92,92,1);
  box-shadow: 0px 6px 16px -6px rgba(92,92,92,1);
  border-radius: 7px;
  display: none;
  background-color: white;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.panelCard:hover {
  -webkit-box-shadow: 0px 6px 19px -2px rgba(28,38,87,1);
  -moz-box-shadow: 0px 6px 19px -2px rgba(28,38,87,1);
  box-shadow: 0px 6px 19px -2px rgba(28,38,87,1);
}

.panelCard:hover .cover {
  opacity: 1;
}

.show {
  display: block;
}

.card-header {
  padding: 0 10px;
  height: 90px;
}

.card-header h3 {
  font-family: var(--heading);
  font-size: 18px;
  text-align: center;
}

.author {
  font-size: 15px;
  text-align: center;
  font-style: italic;
  padding: 5px;
}

.title {
  width: 130px;
}

.price {
  width: 50px;
  font-family: var(--heading);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.cover {
  width: 100%;
  height: 293px;
  opacity: 0.8;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.card-footer {
  margin-top: -5px;
}

.card-button {
  border: 0;
  background-color: white;
  cursor: pointer;
  width: 50%;
  height: 80px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.card-button:hover,
.card-button:focus {
  background-color: #cce3e4;
  outline: 0;
}

.card-button[disabled],
.card-button-modal[disabled] {
  background-color: transparent;
  cursor: default;
  padding: 0;
}

.card-button[disabled]:hover,
.card-button-modal[disabled]:hover {
  color: #d12028;
  cursor: not-allowed;
  box-shadow: 0 0 0 #ffffff;
}

/* ========= Modal ======= */
.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(171,171,171);
  background-color: rgba(171,171,171,0.9);
}

.modal-content {
  width: 100%;
  padding: var(--main-padding);
  flex-flow: column;
  -webkit-flex-flow: column;
  max-width: 640px;
  background: white;
  margin: 0 auto;
}

.modal-left {
  width: 200px;
}

.modal-right {
  padding: var(--big-padding);
  text-align: justify;
  font-size: 19px;
}

.modal-right button {
  margin-left: 70%;
  margin-top: 15px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: var(--black);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  background-color: transparent;
  border: 0;
}

.close:hover,
.close:focus {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

.visible {
  display: block !important;
}

.hidden {
  display: none !important;
}


.card-button-modal {
  background-color: #f2f2f2;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.card-button-modal:hover,
.card-button-modal:focus {
  background-color: #cce3e4;
  outline: 0;
}

.card-button-modal:active,
.card-button:active {
  background-color: var(--pale-blue);
}

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

@media screen and (min-width: 500px) {
  .modal {
    padding-top: 100px;
  }
  .modal-content {
    flex-direction: row;
    -webkit-flex-direction: row;
    box-shadow: 0 4px 10px #4e4e4e;
  }
  .close {
    position: relative;
    top: -185px;
    right: 0;
  }
}

/* ========= Cart ======= */
.cart {
  background-color: var(--pale-blue);
  padding: 25px;
}

.store-left {
  -webkit-animation-name: down;
  -webkit-animation-duration: 0.6s;
  animation-name: down;
  animation-duration: 0.6s;
}

@-webkit-keyframes down {
  from {-webkit-transform:translateY(-100%)}
  to {-webkit-transform:translateY(0)}
}

@keyframes down {
  from {transform:translateY(-100%)}
  to {transform:translateY(0)}
}

@media screen and (min-width: 850px) {
  @-webkit-keyframes down {
    from {-webkit-transform:translateX(-100%)}
    to {-webkit-transform:translateX(0)}
  }

  @keyframes down {
    from {transform:translateX(-100%)}
    to {transform:translateX(0)}
  }
}

.store-right {
  -webkit-animation-name: up;
  -webkit-animation-duration: 0.6s;
  animation-name: up;
  animation-duration: 0.6s;
}

@-webkit-keyframes up {
  from {-webkit-transform:translateY(-10%)}
  to {-webkit-transform:translateY(0%)}
}

@keyframes up {
  from {transform:translateY(-10%)}
  to {transform:translateY(0%)}
}

@media screen and (min-width: 850px) {
  @-webkit-keyframes up {
    from {-webkit-transform:translateX(-10%)}
    to {-webkit-transform:translateX(0)}
  }

  @keyframes up {
    from {transform:translateX(-10%)}
    to {transform:translateX(0)}
  }
}

.cart-list li {
  padding: 25px 15px;
  border-bottom: 2px solid var(--blue);
  width: 100%;
  font-size: 15px;
}

.cart-list li p:first-child {
  width: 30%;
}
.cart-list li p:nth-child(2) {
  width: 50%;
  font-family: var(--heading);
  font-weight: bold;
  padding: 0 5px;
}
.cart-list li p:last-child {
  width: 20%;
}

.total-price {
  font-family: var(--heading);
  font-weight: bold;
  padding-left: 15px;
}

.close-cart {
  position: relative;
  left: 90%;
  color: var(--black);
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  background-color: transparent;
  border: 0;
}

.close-cart:hover,
.close-cart:focus {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}

@media screen and (min-width: 550px) {
  .cart-list li {
    font-size: 19px;
  }
}

.not-found {
  padding: var(--big-padding);
  flex-flow: column;
  -webkit-flex-flow: column;
}

.not-found img {
  width: 100%;
  max-width: 550px;
  padding: var(--big-padding);
}

/* ========= Administrator view ======= */
.adminMenu {
  background-color: #ffc5b7;
  padding: 25px;
}
